
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --color-1:#fa4678;
}

body{
  background-color: black ;
}

.cor-primaria{
  background-color: #fa4678;
}
.cor-secundaria{
  background-color: #cc365f;
}
.cor-preto {
  background-color: black;
}

.site-conteudo{
  z-index:1024;
  position: relative;
  align-items: center;
  width: 70%;
  background-color: white;
}
.img-bg{
  width: 100%;
}

/**
* Notificacao
 */
#noticias a{
  color: white;
}
#noticias a:hover{
  color: #ffb6c1;
  text-decoration: none;
}

/**
 * Staff
 */
.porta-pic{
  width: 120px;
  height: 120px;
}

.pic {
  width: 50px;
  height: 50px;
}
.staff{
  background-color: blueviolet;
}
.meio {
  background-color: red;
}

/**
* mangas
*/
.manga-capa{
  width:100%;
}
.manga-dado{
  border-style: outset;
}
.manga-sinopse{
  border-style: solid;
  text-align: justify;
}

/**
* capitulos
*/
.capitulo-link{
  width: 30px;
  height: 30px;
}
.capitulo-pessoa{
  border-style: outset;
}

/**
 * validção form
 */
input.invalido{
  border: 2px solid red;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

